{% extends 'base.html' %}

{% block title %}
PartPick'r
{% endblock %}

{% block body %}
{% load static %}
<style>
 .img1, .img2, .img3{
    opacity: 1;
    position: relative;
}

.img1{
    background: url('{% static "Assets/Home1.jpg" %}');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img2{
    background: url('{% static "Assets/Home2.jpg" %}');
    min-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Main attribute for Parallax Effect*/
    background-attachment: fixed;
}

.img3{
    background: url('{% static "Assets/Home3.jpg" %}');
    min-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section{
    text-align: center;
    padding: 40px 50px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34; 
    color: #ddd;
}
.imgtext.top{
    break-after: 5;
}

.imgtext{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #999;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 15px;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 13px;
}

@media(max-width: 400px){
    .img1 , .img2 ,.img3{
        background-attachment: scroll;
    }
}

/* Dynamic OnHover Animation */
.imgcontainer_parent{
    width: 100%;
    display: inline;
}
.imgcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 50 auto;
    background-color: #ddd;
}

#box1{	
    background-position: center;
    background-size: cover;
    background-image: url('{% static "Assets/pic1.jpg" %}');
}

#box2{
    background-position: center;
    background-size: cover;
    background-image: url('{% static "Assets/pic3.jpg" %}');
}

#box3{
    background-position: center;
    background-size: cover;
    background-image: url('{% static "Assets/pic2.jpg" %}');
}

.imgbox{
    flex: 1;
    transition: 0.5s;
}

.imgbox:hover{
    flex: 10;
}
</style>
<!-- Dynamic OnHover Animation-->
<div class="imgcontainer_parent">
    <div class="imgcontainer">
        <div class="imgbox" id = "box1"></div>
        <div class="imgbox" id = "box2"></div>
        <div class="imgbox" id = "box3"></div>
    </div>
    <div class="imgtext top">
        <span class = "border w3-wide w3-xlarge">
            P A R T &nbsp; P I C K ' R
        </span>
    </div>
</div>


<section class="section section-dark">
    <h2>
        Our Goal
    </h2>
    <p>
        Ever wondered how much money you would save if you just built your own PC instead of relying on giants?
    </p>
</section>



<div class="img2">
    <div class="imgtext">
        <span class = "border lower-mid">
            The Speed u need !
        </span>
    </div>
</div>

<section class="section section-light">
    <h2>
        Header
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>



<div class="img3">
    <div class="imgtext">
        <span class = "border lower-mid">
            Join our community to make your dream's reality !
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>
        Header
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
    
{% endblock %}